<!DOCTYPE html>
<html>

<head>
    <title>
        KinoNow
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/726e03ea95.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="block-center">
            <div class="top">
                <p class="h">KhinoNow</p>
                <p class="welcome-text">Онлайн-афиша кинотеатров Харькова</p>
            </div>
            <div class="bottom">
                <p class="hint">Выбраная дата: <%= seldate %></p>
                <div class="dates">
                    <% for (let i = 0; i<7; i++) { %>
                    <% if (cdates[i]==seldate){ %>
                  <a href="<%= cdates[i] %>" class="selected">
                    <% }else {%>
                    <a href="<%= cdates[i] %>">  
                        <% } %>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[i] %></p>
                        <p class="date">Дата: <%= cdates[i] %></p>
                    </div></a>
                    <% }%>
                   
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <p class="split">. . .</p>
    <div class="films-area">
        <div class="area">
            <%- html %>
        </div>
    </div>   

    <p class="about">Створенно студентами ХНУРЭ</p>
</body>

</html>
