<!DOCTYPE html>
<html>

<head>
    <title>
        KinoNow
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/726e03ea95.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="block-center">
            <div class="top">
                <p class="h">KhinoNow</p>
                <p class="welcome-text">Онлайн афіша кинотеатрів Харькову</p>
            </div>
            <div class="bottom">
                <p class="hint">Обрана дата: <%= seldate %></p>
                <div class="dates">
                  <a href=<%= cdates[0] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[0] %></p>
                        <p class="date">Дата: <%= cdates[0] %></p>
                    </div></a>
                    <a href=<%= cdates[1] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[1] %></p>
                        <p class="date">Дата: <%= cdates[1] %></p>
                    </div></a>
                    <a href=<%= cdates[2] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[2] %></p>
                        <p class="date">Дата: <%= cdates[2] %></p>
                    </div></a>
                    <a href=<%= cdates[3] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[3] %></p>
                        <p class="date">Дата: <%= cdates[3] %></p>
                    </div></a>
                    <a href=<%= cdates[4] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[4] %></p>
                        <p class="date">Дата: <%= cdates[4] %></p>
                    </div></a>
                    <a href=<%= cdates[5] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[5] %></p>
                        <p class="date">Дата: <%= cdates[5] %></p>
                    </div></a>
                    <a href=<%= cdates[6] %>>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[6] %></p>
                        <p class="date">Дата: <%= cdates[6] %></p>
                    </div></a>
                </div>

            </div>
        </div>
    </div>
    <p class="split">. . .</p>
    <div class="films-area">
        <div class="area">
            <%- html %>
        </div>
    </div>   

    <p class="about">Створенно студентами ХНУРЭ</p>
</body>

</html>
