<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/726e03ea95.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="block-center">
            <div class="top">
                <p class="h">KhinoNow</p>
                <p class="welcome-text">Онлайн афіша кинотеатрів Харькову</p>
            </div>
            <div class="bottom">
                <p class="hint">Оберіть дату</p>
                <div class="dates">
                    <div class="date-button">
                        <p class="week-name"><%= cnames[0] %></p>
                        <p class="date"><%= cdates[0] %></p>
                    </div>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[1] %></p>
                        <p class="date"><%= cdates[1] %></p>
                    </div>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[2] %></p>
                        <p class="date"><%= cdates[2] %></p>
                    </div>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[3] %></p>
                        <p class="date"><%= cdates[3] %></p>
                    </div>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[4] %></p>
                        <p class="date"><%= cdates[4] %></p>
                    </div>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[5] %></p>
                        <p class="date"><%= cdates[5] %></p>
                    </div>
                    <div class="date-button">
                        <p class="week-name"><%= cnames[6] %></p>
                        <p class="date"><%= cdates[6] %></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <p class="split">. . .</p>
    <div class="films-area">
        <div class="area">
            <%- html %>
        </div>
    </div>

    <div class="window">
        <div class="window-top">
            <img class="left-top" src="test.jpg">
            <div class="text">
                <div class="group">
                    <p class="fb_film_name">Назва фільму</p>
                </div>
                <br>
                <div class="group">
                    <p class="fb_desc">Середня ціна квитка: </p>
                    <p class="fb_desc_value">90</p>
                </div>
                <div class="group">
                    <p class="fb_desc">Доступні кінотеатри: </p>
                    <p class="fb_desc_value">15</p>
                </div>
                <div class="group">
                    <p class="fb_desc">Доступні кіносеанси: </p>
                    <p class="fb_desc_value">11:15 11:15 11:15 11:15</p>
                </div>

            </div>
        </div>
        <hr>
        <div class="group text-centred">
            <table>
                <tbody>
                    <tr>
                        <td>&nbsp;Название</td>
                        <td>Сеансы</td>
                        <td>Стоимость</td>
                        <td>Контакты</td>
                    </tr>
                    <tr>
                        <td>Kinokrad</td>
                        <td>25:00 14:61</td>
                        <td>90-60</td>
                        <td>
                            <div class="contact-btns">
                                <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                <div class="btn-round"><span class="fas fa-phone"></span></div>
                                <div class="btn-round"><span class="fas fas fa-link"></span></div>
                        </td>
                    </tr>
                    <tr>
                            <td>Kinokrad</td>
                            <td>25:00 14:61</td>
                            <td>90-60</td>
                            <td>
                                <div class="contact-btns">
                                    <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                    <div class="btn-round"><span class="fas fa-phone"></span></div>
                                    <div class="btn-round"><span class="fas fas fa-link"></span></div>
                            </td>
                        </tr><tr>
                                <td>Kinokrad</td>
                                <td>25:00 14:61</td>
                                <td>90-60</td>
                                <td>
                                    <div class="contact-btns">
                                        <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                        <div class="btn-round"><span class="fas fa-phone"></span></div>
                                        <div class="btn-round"><span class="fas fas fa-link"></span></div>
                                </td>
                            </tr><tr>
                                    <td>Kinokrad</td>
                                    <td>25:00 14:61</td>
                                    <td>90-60</td>
                                    <td>
                                        <div class="contact-btns">
                                            <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                            <div class="btn-round"><span class="fas fa-phone"></span></div>
                                            <div class="btn-round"><span class="fas fas fa-link"></span></div>
                                    </td>
                                </tr><tr>
                                        <td>Kinokrad</td>
                                        <td>25:00 14:61</td>
                                        <td>90-60</td>
                                        <td>
                                            <div class="contact-btns">
                                                <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                                <div class="btn-round"><span class="fas fa-phone"></span></div>
                                                <div class="btn-round"><span class="fas fas fa-link"></span></div>
                                        </td>
                                    </tr><tr>
                                            <td>Kinokrad</td>
                                            <td>25:00 14:61</td>
                                            <td>90-60</td>
                                            <td>
                                                <div class="contact-btns">
                                                    <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                                    <div class="btn-round"><span class="fas fa-phone"></span></div>
                                                    <div class="btn-round"><span class="fas fas fa-link"></span></div>
                                            </td>
                                        </tr><tr>
                                                <td>Kinokrad</td>
                                                <td>25:00 14:61</td>
                                                <td>90-60</td>
                                                <td>
                                                    <div class="contact-btns">
                                                        <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                                        <div class="btn-round"><span class="fas fa-phone"></span></div>
                                                        <div class="btn-round"><span class="fas fas fa-link"></span></div>
                                                </td>
                                            </tr><tr>
                                                    <td>Kinokrad</td>
                                                    <td>25:00 14:61</td>
                                                    <td>90-60</td>
                                                    <td>
                                                        <div class="contact-btns">
                                                            <div class="btn-round"><span class="fas fa-map-marked-alt"></span></div>
                                                            <div class="btn-round"><span class="fas fa-phone"></span></div>
                                                            <div class="btn-round"><span class="fas fas fa-link"></span></div>
                                                    </td>
                                                </tr>
                </tbody>
            </table>            
        </div>
        <div class="content-center">
            <br>
        <a href="#" class="close-btn">Закрити</a>
        <br>
    </div>
    </div>

    <p class="about">Створенно студентами ХНУРЭ</p>
</body>

</html>
